pkgbase = librime-git
	pkgdesc = Rime input method engine with plugins
	pkgver = 1.5.3.r35.g19596af2
	pkgrel = 1
	epoch = 1
	url = https://github.com/rime/librime
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = boost
	makedepends = git
	makedepends = gtest
	makedepends = gmock
	makedepends = ninja
	depends = boost-libs
	depends = capnproto
	depends = opencc
	depends = yaml-cpp
	depends = leveldb
	depends = librime-data
	depends = lua
	depends = google-glog
	depends = marisa
	provides = librime
	conflicts = librime
	source = git+https://github.com/amosbird/librime.git
	source = git+https://github.com/lotem/librime-octagram
	source = git+https://github.com/rime/librime-charcode
	source = git+https://github.com/amosbird/librime-lua
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = librime-git
